<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b> <%= @user.name %> <br />
  <b>ID:</b> <%= @user.id %>
</p>

<!-- WORK ENTRIES -->
<h2>Work Entries</h2>

<%= link_to 'New Work entry', new_work_entry_path %>
<br />

  <!-- Work Entries Table  -->
<% unless @user.work_entries.empty? %>
  <table class="work_entries" summary="Work Entries">
    <tr>
      <th>Task</th>
      <th>Start</th>
      <th>End</th>
      <th>Hours</th>
      <th>Description</th>
      <th>Iteration</th>
      <th>User</th>
    </tr>
    <%= render @work_entries %>
  </table>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


