<p id="notice"><%= notice %></p>

<% if @user.work_entries.empty? %>
  User "<%= @user.name %>" (id=<%= @user.id %>) has no Work Entries. Get to work! <br />
<% end %>



<% unless @user.work_entries.empty? %>
  <!-- WORK ENTRIES -->
  <h2>Work Entries</h2>
  <p><b>for user: <%= @user.name %> (id=<%= @user.id %>)</b></p>

  <!-- Work Entries Table  -->
  <table class="work_entries" summary="Work Entries">
    <tr>
      <th>Task</th>
      <th>Hours</th>
      <th>Iteration</th>
      <th>User</th>
    </tr>
    <%= render @work_entries %>
  </table>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


