<%= form_for :work_entry, :remote=>true do |f| %>


  <div class="field">
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select:start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :iteration %><br />
    <%= f.text_field :iteration %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select :user_id, User.all.collect {|user| [ user.user_name, user.id ]},:include_blank => false %>  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
