<p id="notice"><%= notice %></p>

<p>
  <b>Task:</b>
  <%= @work_entry.task %>
</p>

<p>
  <b>Start:</b>
  <%= @work_entry.start %>
</p>

<p>
  <b>End:</b>
  <%= @work_entry.end %>
</p>

<p>
  <b>Hours:</b>
  <%= @work_entry.hours %>
</p>

<p>
  <b>Description:</b>
  <%= @work_entry.description %>
</p>

<p>
  <b>Iteration:</b>
  <%= @work_entry.iteration %>
</p>

<p>
  <b>User:</b>
  <%= @work_entry.user_id %>
</p>


<%= link_to 'Edit', edit_work_entry_path(@work_entry) %> |
<%= link_to 'Back', work_entries_path %>
